{
  "root": true,
  "extends": [
    "prettier",
    "eslint:recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "prettier",
    "react"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "curly": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-render-return-value": "error",
    "react/prefer-es6-class": "warn",
    "no-extra-boolean-cast": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "@osd/eslint/require-license-header": "off",
    "prettier/@typescript-eslint/explicit-member-accessibility": "off",
    "no-duplicate-imports": "error",
    "prefer-const": "error",
    "eqeqeq": "error",
    "no-var": "error",
    "no-alert": "error"
  },
  "globals": {
    "_": "readonly"
  },
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "parser": "@typescript-eslint/parser",
      "plugins": [
        "@typescript-eslint"
      ],
      "extends": [
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    }
  ]
}
